/build/
/build-*/
/.cache/
/stdout/

# CMake configure/build files that may be created outside build*/.
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
Makefile
*.ninja
.ninja_deps
.ninja_log

*.log
*.exe
*.obj
*.o
*.a
*.lib
*.dll
*.pdb
proto/generated/
